*.egg-info/
.ipynb_checkpoints/
__pycache__/
*.pyc
dist/
build/
.DS_Store
.python-version
*.icloud
options.numbers

# Exclude data files, since they're stored remotely
cptac/data/*/*

# Include index url files
!cptac/data/*/index*
!cptac/data/data_washu_pdac/index*




#Previous .gitignore but above is much more concise. Remove below as soon as it clearly works.
# Exclude data files, since they're stored remotely
#cptac/pancan/data_mssm/*
#cptac/pancan/data_harmonized/*
#
#cptac/data/data_bcm_brca/*
#cptac/data/data_broad_brca/*
#cptac/data/data_umich_brca/*
#cptac/data/data_washu_brca/*
#
#cptac/data/data_bcm_ccrcc/*
#cptac/data/data_broad_ccrcc/*
#cptac/data/data_umich_ccrcc/*
#cptac/data/data_washu_ccrcc/*
#
#cptac/data/data_bcm_coad/*
#cptac/data/data_broad_coad/*
#cptac/data/data_umich_coad/*
#cptac/data/data_washu_coad/*
#
#cptac/data/data_bcm_gbm/*
#cptac/data/data_broad_gbm/*
#cptac/data/data_umich_gbm/*
#cptac/data/data_washu_gbm/*
#
#cptac/data/data_bcm_hnscc/*
#cptac/data/data_broad_hnscc/*
#cptac/data/data_umich_hnscc/*
#cptac/data/data_washu_hnscc/*
#
#cptac/data/data_bcm_lscc/*
#cptac/data/data_broad_lscc/*
#cptac/data/data_umich_lscc/*
#cptac/data/data_washu_lscc/*
#
#cptac/data/data_bcm_luad/*
#cptac/data/data_broad_luad/*
#cptac/data/data_umich_luad/*
#cptac/data/data_washu_luad/*
#
#cptac/data/data_bcm_ov/*
#cptac/data/data_broad_ov/*
#cptac/data/data_umich_ov/*
#cptac/data/data_washu_ov/*
#
#cptac/data/data_bcm_ucec/*
#cptac/data/data_broad_ucec/*
#cptac/data/data_umich_ucec/*
#cptac/data/data_washu_ucec/*
#
#cptac/data/data_bcm_pdac/*
#cptac/data/data_broad_pdac/*
#cptac/data/data_umich_pdac/*
#cptac/data/data_washu_pdac/*
#
#
## Exclude files that are downloaded by utils functions
#cptac/utils/data/corum_protein_complexes.tsv.zip
#cptac/utils/data/hgnc_protein_families.tsv
#
## Include index url files
#!cptac/data/data_brca/index_urls.tsv
#!cptac/data/data_ccrcc/index_urls.tsv
#!cptac/data/data_colon/index_urls.tsv
#!cptac/data/data_endometrial/index_urls.tsv
#!cptac/data/data_gbm/index_urls.tsv
#!cptac/data/data_gbmconf/index_urls.tsv
#!cptac/data/data_hnscc/index_urls.tsv
#!cptac/data/data_lscc/index_urls.tsv
#!cptac/data/data_luad/index_urls.tsv
#!cptac/data/data_ovarian/index_urls.tsv
#!cptac/data/data_pdac/index_urls.tsv
#!cptac/data/data_ucec/index_urls.tsv
#
#!cptac/data/data_mssm/index_urls.tsv
#!cptac/data/data_harmonized/index_urls.tsv
#
#!cptac/data/data_bcm_brca/index_urls.tsv
#!cptac/data/data_broad_brca/index_urls.tsv
#!cptac/data/data_umich_brca/index_urls.tsv
#!cptac/data/data_washu_brca/index_urls.tsv
#
#!cptac/data/data_bcm_ccrcc/index_urls.tsv
#!cptac/data/data_broad_ccrcc/index_urls.tsv
#!cptac/data/data_umich_ccrcc/index_urls.tsv
#!cptac/data/data_washu_ccrcc/index_urls.tsv
#
#!cptac/data/data_bcm_coad/index_urls.tsv
#!cptac/data/data_broad_coad/index_urls.tsv
#!cptac/data/data_umich_coad/index_urls.tsv
#!cptac/data/data_washu_coad/index_urls.tsv
#
#!cptac/data/data_bcm_gbm/index_urls.tsv
#!cptac/data/data_broad_gbm/index_urls.tsv
#!cptac/data/data_umich_gbm/index_urls.tsv
#!cptac/data/data_washu_gbm/index_urls.tsv
#
#!cptac/data/data_bcm_hnscc/index_urls.tsv
#!cptac/data/data_broad_hnscc/index_urls.tsv
#!cptac/data/data_umich_hnscc/index_urls.tsv
#!cptac/data/data_washu_hnscc/index_urls.tsv
#
#!cptac/data/data_bcm_lscc/index_urls.tsv
#!cptac/data/data_broad_lscc/index_urls.tsv
#!cptac/data/data_umich_lscc/index_urls.tsv
#!cptac/data/data_washu_lscc/index_urls.tsv
#
#!cptac/data/data_bcm_luad/index_urls.tsv
#!cptac/data/data_broad_luad/index_urls.tsv
#!cptac/data/data_umich_luad/index_urls.tsv
#!cptac/data/data_washu_luad/index_urls.tsv
#
#!cptac/data/data_bcm_ov/index_urls.tsv
#!cptac/data/data_broad_ov/index_urls.tsv
#!cptac/data/data_umich_ov/index_urls.tsv
#!cptac/data/data_washu_ov/index_urls.tsv
#
#!cptac/data/data_bcm_ucec/index_urls.tsv
#!cptac/data/data_broad_ucec/index_urls.tsv
#!cptac/data/data_umich_ucec/index_urls.tsv
#!cptac/data/data_washu_ucec/index_urls.tsv
#
#!cptac/data/data_bcm_pdac/index_urls.tsv
#!cptac/data/data_broad_pdac/index_urls.tsv
#!cptac/data/data_umich_pdac/index_urls.tsv
#!cptac/data/data_washu_pdac/index_urls.tsv
