*.egg-info/
.ipynb_checkpoints/
__pycache__/
*.pyc
dist/
build/
.DS_Store
.python-version
*.icloud

# Exclude data files, since they're stored remotely

cptac/data_brca/*
cptac/data_ccrcc/*
cptac/data_colon/*
cptac/data_endometrial/*
cptac/data_gbm/*
cptac/data_hnscc/*
cptac/data_lscc/*
cptac/data_luad/*
cptac/data_ovarian/*
cptac/data_pdac/*
cptac/data_ucecconf/*

cptac/pancan/data_mssmclinical/*
cptac/pancan/data_harmonized/*

cptac/pancan/data_bcmbrca/*
cptac/pancan/data_broadbrca/*
cptac/pancan/data_umichbrca/*
cptac/pancan/data_washubrca/*
cptac/pancan/data_pdcbrca/*

cptac/pancan/data_bcmccrcc/*
cptac/pancan/data_broadccrcc/*
cptac/pancan/data_umichccrcc/*
cptac/pancan/data_washuccrcc/*
cptac/pancan/data_pdcccrcc/*

cptac/pancan/data_bcmcoad/*
cptac/pancan/data_broadcoad/*
cptac/pancan/data_umichcoad/*
cptac/pancan/data_washucoad/*
cptac/pancan/data_pdccoad/*

cptac/pancan/data_bcmgbm/*
cptac/pancan/data_broadgbm/*
cptac/pancan/data_umichgbm/*
cptac/pancan/data_washugbm/*
cptac/pancan/data_pdcgbm/*

cptac/pancan/data_bcmhnscc/*
cptac/pancan/data_broadhnscc/*
cptac/pancan/data_umichhnscc/*
cptac/pancan/data_washuhnscc/*
cptac/pancan/data_pdchnscc/*

cptac/pancan/data_bcmlscc/*
cptac/pancan/data_broadlscc/*
cptac/pancan/data_umichlscc/*
cptac/pancan/data_washulscc/*
cptac/pancan/data_pdclscc/*

cptac/pancan/data_bcmluad/*
cptac/pancan/data_broadluad/*
cptac/pancan/data_umichluad/*
cptac/pancan/data_washuluad/*
cptac/pancan/data_pdcluad/*

cptac/pancan/data_bcmov/*
cptac/pancan/data_broadov/*
cptac/pancan/data_umichov/*
cptac/pancan/data_washuov/*
cptac/pancan/data_pdcov/*

cptac/pancan/data_bcmucec/*
cptac/pancan/data_broaducec/*
cptac/pancan/data_umichucec/*
cptac/pancan/data_washuucec/*
cptac/pancan/data_pdcucec/*

cptac/pancan/data_bcmpdac/*
cptac/pancan/data_broadpdac/*
cptac/pancan/data_umichpdac/*
cptac/pancan/data_washupdac/*
cptac/pancan/data_pdcpdac/*


# Exclude files that are downloaded by utils functions
cptac/utils/data/corum_protein_complexes.tsv.zip
cptac/utils/data/hgnc_protein_families.tsv

# Include index url files
!cptac/data_brca/index_urls.tsv
!cptac/data_ccrcc/index_urls.tsv
!cptac/data_colon/index_urls.tsv
!cptac/data_endometrial/index_urls.tsv
!cptac/data_gbm/index_urls.tsv
!cptac/data_hnscc/index_urls.tsv
!cptac/data_lscc/index_urls.tsv
!cptac/data_luad/index_urls.tsv
!cptac/data_ovarian/index_urls.tsv
!cptac/data_pdac/index_urls.tsv
!cptac/data_ucec/index_urls.tsv

!cptac/pancan/data_mssmclinical/index_urls.tsv
!cptac/pancan/data_harmonized/index_urls.tsv

!cptac/pancan/data_bcmbrca/index_urls.tsv
!cptac/pancan/data_broadbrca/index_urls.tsv
!cptac/pancan/data_umichbrca/index_urls.tsv
!cptac/pancan/data_washubrca/index_urls.tsv
!cptac/pancan/data_pdcbrca/index_urls.tsv

!cptac/pancan/data_bcmccrcc/index_urls.tsv
!cptac/pancan/data_broadccrcc/index_urls.tsv
!cptac/pancan/data_umichccrcc/index_urls.tsv
!cptac/pancan/data_washuccrcc/index_urls.tsv
!cptac/pancan/data_pdcccrcc/index_urls.tsv

!cptac/pancan/data_bcmcoad/index_urls.tsv
!cptac/pancan/data_broadcoad/index_urls.tsv
!cptac/pancan/data_umichcoad/index_urls.tsv
!cptac/pancan/data_washucoad/index_urls.tsv
!cptac/pancan/data_pdccoad/index_urls.tsv

!cptac/pancan/data_bcmgbm/index_urls.tsv
!cptac/pancan/data_broadgbm/index_urls.tsv
!cptac/pancan/data_umichgbm/index_urls.tsv
!cptac/pancan/data_washugbm/index_urls.tsv
!cptac/pancan/data_pdcgbm/index_urls.tsv

!cptac/pancan/data_bcmhnscc/index_urls.tsv
!cptac/pancan/data_broadhnscc/index_urls.tsv
!cptac/pancan/data_umichhnscc/index_urls.tsv
!cptac/pancan/data_washuhnscc/index_urls.tsv
!cptac/pancan/data_pdchnscc/index_urls.tsv

!cptac/pancan/data_bcmlscc/index_urls.tsv
!cptac/pancan/data_broadlscc/index_urls.tsv
!cptac/pancan/data_umichlscc/index_urls.tsv
!cptac/pancan/data_washulscc/index_urls.tsv
!cptac/pancan/data_pdclscc/index_urls.tsv

!cptac/pancan/data_bcmluad/index_urls.tsv
!cptac/pancan/data_broadluad/index_urls.tsv
!cptac/pancan/data_umichluad/index_urls.tsv
!cptac/pancan/data_washuluad/index_urls.tsv
!cptac/pancan/data_pdcluad/index_urls.tsv

!cptac/pancan/data_bcmov/index_urls.tsv
!cptac/pancan/data_broadov/index_urls.tsv
!cptac/pancan/data_umichov/index_urls.tsv
!cptac/pancan/data_washuov/index_urls.tsv
!cptac/pancan/data_pdcov/index_urls.tsv

!cptac/pancan/data_bcmucec/index_urls.tsv
!cptac/pancan/data_broaducec/index_urls.tsv
!cptac/pancan/data_umichucec/index_urls.tsv
!cptac/pancan/data_washuucec/index_urls.tsv
!cptac/pancan/data_pdcucec/index_urls.tsv

!cptac/pancan/data_bcmpdac/index_urls.tsv
!cptac/pancan/data_broadpdac/index_urls.tsv
!cptac/pancan/data_umichpdac/index_urls.tsv
!cptac/pancan/data_washupdac/index_urls.tsv
!cptac/pancan/data_pdcpdac/index_urls.tsv
