*.egg-info/
.ipynb_checkpoints/
__pycache__/
*.pyc
dist/
build/
.DS_Store
.python-version
*.icloud
options.numbers
temp*
.vscode
Tests.ipynb
# Exclude data files, since they're stored remotely
cptac/data/*