# General files
include README.md
include cptac/options.tsv
include cptac/utils/data/BioPlex_293T_Network_10K_Dec_2019.tsv.gz
include cptac/utils/data/Uniprot_Proteome.tsv.gz
include cptac/utils/data/WikiPathwaysDataframe.tsv.gz

# bcm files
include cptac/data/data_bcm_brca/index_urls.tsv
include cptac/data/data_bcm_ccrcc/index_urls.tsv
include cptac/data/data_bcm_coad/index_urls.tsv
include cptac/data/data_bcm_gbm/index_urls.tsv
include cptac/data/data_bcm_hnscc/index_urls.tsv
include cptac/data/data_bcm_lscc/index_urls.tsv
include cptac/data/data_bcm_luad/index_urls.tsv
include cptac/data/data_bcm_ov/index_urls.tsv
include cptac/data/data_bcm_pdac/index_urls.tsv
include cptac/data/data_bcm_ucec/index_urls.tsv

# broad files
include cptac/data/data_broad_brca/index_urls.tsv
include cptac/data/data_broad_ccrcc/index_urls.tsv
include cptac/data/data_broad_coad/index_urls.tsv
include cptac/data/data_broad_gbm/index_urls.tsv
include cptac/data/data_broad_hnscc/index_urls.tsv
include cptac/data/data_broad_lscc/index_urls.tsv
include cptac/data/data_broad_luad/index_urls.tsv
include cptac/data/data_broad_ov/index_urls.tsv
include cptac/data/data_broad_pdac/index_urls.tsv
include cptac/data/data_broad_ucec/index_urls.tsv

# harmonized and mssm files
include cptac/data/data_harmonized/index_urls.tsv
include cptac/data/data_mssm/index_urls.tsv

# umich files
include cptac/data/data_umich_brca/index_urls.tsv
include cptac/data/data_umich_ccrcc/index_urls.tsv
include cptac/data/data_umich_coad/index_urls.tsv
include cptac/data/data_umich_gbm/index_urls.tsv
include cptac/data/data_umich_hnscc/index_urls.tsv
include cptac/data/data_umich_lscc/index_urls.tsv
include cptac/data/data_umich_luad/index_urls.tsv
include cptac/data/data_umich_ov/index_urls.tsv
include cptac/data/data_umich_pdac/index_urls.tsv
include cptac/data/data_umich_ucec/index_urls.tsv

# washu files
include cptac/data/data_washu_brca/index_urls.tsv
include cptac/data/data_washu_ccrcc/index_urls.tsv
include cptac/data/data_washu_coad/index_urls.tsv
include cptac/data/data_washu_gbm/index_urls.tsv
include cptac/data/data_washu_hnscc/index_urls.tsv
include cptac/data/data_washu_lscc/index_urls.tsv
include cptac/data/data_washu_luad/index_urls.tsv
include cptac/data/data_washu_ov/index_urls.tsv
include cptac/data/data_washu_pdac/index_urls.tsv
include cptac/data/data_washu_ucec/index_urls.tsv
